.fleximages {
    /*max-height: 1500px;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.imgGallerySection {
    margin: 15px;
   }

.images2 {
    display: flex;
    flex-direction: column;
}

.gallery-container {
    background: #ffa201;
}

.galleryAbout, .galleryTitle {
    font-family: Raleway;
}


