.blok1 {
    height: 184px;
    background-color: #34b316;
}

.blok2 {
    height: 184px;
    background-color: #b41b2d;
}

.blok3 {
    height: 184px;
     background-color: #dab20f;
 }

.blok4 {
    height: 184px;
      background-color: #444444
;
  }

.blok5 {
    height: 184px;
       background-color: black;
   }
