body, html {
    margin: 0;
}

main {
    width: 400px;
    margin: 0 auto;
    position: relative;
}

.website-author {
}

.important-info {
    border: 3px solid green;
    width: 100%;
    box-sizing: border-box;
    background: red;
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 30px;
}

.main-ad {
    padding: 20px;
    border: 3px solid red;
    font-size: 20px;
    background: rgb(190, 190, 190);
    width: 200px;
    text-align: center;
}
