body {
    font-family: sans-serif;
}

.description {
    font-size: 20px;
}

.site-logo {
    width: 500px;
}

.site-title {
    font-size: 45px;
    color: red;
    font-family: serif;
    text-decoration: underline;
}

.site-navigation {
    border: 5px solid black;
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 15px;
}

.description-header {
    color: red;
    font-size: 40px;
    font-family: fantasy;
}

.site-footer {
    font-size: 10px;
}

