div {
    position: absolute;
    left: 100px;
    top: 100px;
}

#pierwszy {
    left: 50px;
    top: 125px;
    width: 250px;
    height: 250px;
    background-color: red;
}

#drugi {
    width: 150px;
    height: 150px;
    background-color: green;
}

#trzeci {
    left: 75px;
    top: 90px;
    width: 50px;
    height: 50px;
    background-color: blue;
}






























#pierwszy {
    z-index: 1;
}

#drugi {
    z-index: 3;
}

#trzeci {
    z-index: 0;
}
