.blok1 {
    height: 184px;
    background-color: cadetblue;
}

.blok2 {
    height: 184px;
    background-color: white;
}

.blok3 {
    height: 184px;
    background-color: cadetblue;
 }

.blok4 {
    height: 184px;
    background-color: black;
  }

.blok5 {
    height: 184px;
    background-color: cadetblue;
   }

.blok6 {
    height:184px;
    background-color: orange;
}

.blok7 {
    height: 184px;
    background-color: cadetblue;
}