.container {
    display: flex;
    flex-direction: row;
}

nav, main, aside {
    padding: 20px;
}

nav, aside {
    flex: 2;
    background-color: greenyellow;
}

main {
    flex: 6;
    background-color: green;
}