.blok1 {
    height: 184px;
    background-color: #0A8A8E;
}

.blok2 {
    height: 184px;
    background-color: #024042;
}

.blok3 {
    height: 184px;
    background-color: #26D5DB;
 }

.blok4 {
    height: 184px;
    background-color: black;
  }

.blok5 {
    height: 184px;
    background-color: #421A00;
   }

.blok6 {
    height:184px;
    background-color: #8E4F27;
}

