.blok1 {
    height: 184px;
    background-color: #30448f;
}

.blok2 {
    height: 148px;
    background-color: white;
}

.blok3 {
    height: 148px;
     background-color: #cd5700;
 }

.blok4 {
    height: 184px;
      background-color: black;
  }

.blok5 {
    height: 184px;
       background-color: #30448f;
   }

.blok6 {
    height: 148px;
    background-color: #4dddff;
}

.blok7 {
    height: 184px;
    background-color: #30448f;
}